<form id="fleetform" method="post">
    <table border="1">
        <tr>
            <th><input type="checkbox" id="all_checked">ID</th>
            <th>Date de Simulation</th>
            <th>N° Immatriculation</th>
            <th>Résultat</th>
        </tr>
        <tr>
            <td><input type="checkbox" name="simulation_id[]" id="1" value="1"></td>
            <td>2023-10-24</td>
            <td><a href="#">BD 1203 RB</a> </td>
            <td>46721</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="simulation_id[]" id="2" value="2"></td>
            <td>2023-10-24</td>
            <td><a href="#">BA 5602 RT</a> </td>
            <td>114137</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="simulation_id[]" id="3" value="3"></td>
            <td>2023-10-24</td>
            <td><a href="#">CD 5602 RB</a> </td>
            <td>152315</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="simulation_id[]" id="5" value="5"></td>
            <td>2023-10-25</td>
            <td><a href="#">AZ 2104 RB</a> </td>
            <td>58401</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="simulation_id[]" id="6" value="6"></td>
            <td>2023-10-25</td>
            <td><a href="#">AS 8001 RB</a> </td>
            <td>128387</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="simulation_id[]" id="7" value="7"></td>
            <td>2023-10-25</td>
            <td><a href="#">AM 3004 RB</a> </td>
            <td>216667</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="simulation_id[]" id="8" value="8"></td>
            <td>2023-10-25</td>
            <td><a href="#">AS 1415 RB</a> </td>
            <td>0</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="simulation_id[]" id="9" value="9"></td>
            <td>2023-10-25</td>
            <td><a href="#">AL 1455 RB</a> </td>
            <td>71082</td>
        </tr>
    </table>
    <center><input type="submit" style="display:none" name="flotte" id="flotte" value="Regrouper"></center>
</form>